# Ignore files for git

# Emacs backup files
*~
*.bak

.git_old/*
VexRiscvSocSoftware/projects/murax/demo/build/
# Ignore simulation work directory
sim/de1_murax_franz/work/
pnr/de1_murax_franz/*
pnr/de1_murax_franz/db/*
pnr/de1_murax_franz/incremental_db/*
!pnr/de1_murax_franz/de1_murax_franz_pins.tcl
!pnr/de1_murax_franz/makefile

# Source compile files
src/modcntr/project/*
src/modcntr/simWorkspace/*
src/modcntr/target/*
src/modcntr/tmp/*
